@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
  @for $i from 1 through list.length(utilidades.$sombras) {
    $shadow: list.nth(utilidades.$sombras, $i);
    --bh-sombra-#{$i}: #{$shadow};
  }
}

@for $i from 1 through list.length(utilidades.$sombras) {
  $shadow: list.nth(utilidades.$sombras, $i);

  .bh--sombra-#{$i} {
    box-shadow: var(--bh-sombra-#{$i});
  }
}