@use "../01_utilities/index" as *;
@use "sass:map";

:root {
    @each $name, $value in $font-families {
        --bh-font-family-#{$name}: #{$value};
    }
}

@each $name, $value in $font-families {
    .bh--fuente-primaria-#{$name}-#{$value} {
        font-family: var(--bh-font-family-#{$name}-#{$value});
    }

    .bh--fuente-secundaria-#{$name}-#{$value} {
        font-family: var(--bh-font-family-#{$name}-#{$value});
    }
}