@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
    @for $i from 1 through list.length(utilidades.$font-weights) {
        $valor: list.nth(utilidades.$font-weights, $i);
        --bh-peso-#{$i}: #{$valor};
    }

    @for $i from 1 through list.length(utilidades.$font-weights) {
        $font-size: list.nth(utilidades.$font-weights, $i);

        .bh--peso-#{$i } {
            font-size: var(--bh-peso-#{$i});
        }
    }
}