@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
    @for $i from 1 through list.length(utilidades.$line-height) {
        $line-height: list.nth(utilidades.$line-height, $i);
        --bh-altura-linea-#{$i}: #{$line-height};
    }
}

@for $i from 1 through list.length(utilidades.$line-height) {
    $line-height: list.nth(utilidades.$line-height, $i);

    .bh--altura-linea-#{$i} {
        line-height: var(--bh-altura-linea-#{$i});
    }
}