@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
    @for $i from 1 through list.length(utilidades.$transiciones) {
        $transiciones: list.nth(utilidades.$transiciones, $i);
        --bh-transicion-#{$i}: #{$transiciones};
    }
}

@for $i from 1 through list.length(utilidades.$transiciones) {
    $transiciones: list.nth(utilidades.$transiciones, $i);

    .bh--transicion-#{$i} {
        transition: var(--bh-transicion-#{$i});
    }
}