@use "sass:list";
@use "../01_utilities/_index.scss" as utilidades;

:root {
    @for $i from 1 through list.length(utilidades.$zindex) {
        $zindex: list.nth(utilidades.$zindex, $i);
        --bh-z-#{$i}: #{$zindex};
    }
}

@for $i from 1 through list.length(utilidades.$zindex) {
    $zindex: list.nth(utilidades.$zindex, $i);

    .bh--z-#{$i} {
        z-index: var(--bh-z-#{$i});
    }
}