// ======================================
// LISTAS GENERADAS DESDE VARIABLES BH
// ======================================

// 🎨 Colores numéricos
$colores: (
    'azul': (#001A33, #002C51, #004580, #005FAF, #0079DF, #3394E6, #66AFEC, #99CAF3, #FFFFFF),
    'gris': (#111827, #1F2937, #374151, #4B5563, #6B7280, #9CA3AF, #D1D5DB, #E5E7EB, #F3F4F6),
    'rojo': (#190501, #500A01, #880D01, #C10701, #F90101, #FE3E34, #FE796D, #FEB0A5, #FEE2DC),
    'blanco': (#FFFFFF),
    'amarillo': (#504002, #887402, #BBA502, #F4E301, #FEF72A, #FCFE62, #F9FE95, #F9FECD, #FFFFFF),
    'naranja':(#190801, #521E05, #84370B, #BA5812, #E7781D, #EEA153, #F5C084, #FBE1BC, #FFF9F0),
    'verde': (#081901, #144804, #1E7109, #259E10, #2AC615, #32E925, #51F04C, #78F77A, #A1FDA5),
    'morado': (#0F0119, #34044D, #570A7B, #8211AC, #AC17D9, #CC3CEC, #DE68F3, #F09AF9, #FAC8FE),
    'negro': (#000000),
    'rosa': (#190115, #49083B, #791560, #A2257D, #CD3299, #DA5DAA, #EA8AC2, #F7B6D8, #FEE6F2)
);

// 📏 Espaciados (base 4px)
$gaps: (
    0px,
    4px,
    8px,
    12px,
    16px,
    20px,
    24px,
    28px,
    32px,
    36px,
    40px,
    44px,
    48px,
    64px
);

// 📏 Margenes
$margins: (
    0px,
    4px,
    8px,
    12px,
    16px,
    20px,
    24px,
    28px,
    32px,
    36px,
    40px,
    44px,
    48px,
    64px
);

// 📏 Padding
$paddings: (
    0px,
    4px,
    8px,
    12px,
    16px,
    20px,
    24px,
    28px,
    32px,
    36px,
    40px,
    44px,
    48px,
    64px
);

// 🔲 Radio de borde
$border-radius: (
    4px,
    8px,
    12px,
    16px,
    20px,
    25px,
    50px,
    100px,
    100%
);

// 🌑 Sombras
$sombras: (
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 4px 8px rgba(0, 0, 0, 0.2),
    0 4px 12px rgba(0, 0, 0, 0.3),
    0 8px 24px rgba(0, 0, 0, 0.4)
);

// ✒️ Familias tipográficas
$font-families: (
    system-ui,
    -apple-system,
    sans-serif,
    'Inter',
    sans-serif
);

// 🔤 Tamaños de texto
$font-sizes: (
    12px,
    14px,
    16px,
    18px,
    20px,
    24px,
    32px,
    48px,
    64px
);

// 🔡 Pesos de fuente
$font-weights: (
    300,
    400,
    500,
    600,
    700
);

// anchos
$widths: (
    auto,
    100px,
    200px,
    250px,
    400px,
    500px,
    700px,
    1000px,
    100vw,
    100%
);

// alturas
$heights: (
    auto,
    15vh,
    25vh,
    35vh,
    45vh,
    50vh,
    55vh,
    65vh,
    75vh,
    85vh,
    95vh,
    100vh,
);


// 📏 Alturas de línea
$line-height: (
    1,
    1.5,
    1.75
);

// 🔁 Transiciones
$transiciones: (
    0.15s ease,
    0.3s ease,
    0.5s ease
);

// 🧱 Z-index
$zindex: (
    1000,
    1020,
    1030,
    1040,
    1050,
    1060,
    1070
);