.c-mod-container {
    --c-mod-container-height: var(--bh-altura-1);
    --c-mod-container-width: var(--bh-w-13);
    --c-mod-container-color-fondo: var(--bh-color-gris-4);
    --c-mod-container-color-superficie: var(--bh-color-gris-1);
    --c-mod-container-color-texto-primario: var(--bh-color-texto-gris-9);
    --c-mod-container-color-texto-secundario: var(--bh-color-texto-gris-1);

    background-color: var(--c-mod-container-color-fondo);

    min-height: var(--c-mod-container-height);
    max-width: var(--c-mod-container-width);
    margin: 0 auto;
    padding: var(--bh-p-4);

    .no-data {
        text-align: center;
        padding: var(--bh-p-4);
        background: var(--c-mod-container-color-superficie);
        border-radius: var(--bh-radio-2);

        p {
            color: var(--c-mod-container-color-texto-primario);
            font-size: var(--bh-texto-4);
        }
    }

    input:disabled {
        background-color: var(--bh-color-gris-3);
        color: var(--bh-color-gris-6);
        cursor: not-allowed;
        border-color: var(--bh-color-gris-4);
    }
}