<div class="usuarios-page bh-p-6">
  <div class="usuarios-page__header bh-d-flex bh-justify-between bh-align-center bh-mb-6">
    <button class="usuarios-page__button bh-panel__button" [routerLink]="['/crear']"
      [queryParams]="{ tipo: 'usuario' }">
      Crear Usuario
    </button>
    <app-search (search)="onSearch($event)"></app-search>
  </div>

  <table class="usuarios-page__table bh-w-full bh-text-left">
    <thead>
      <tr>
        <th class="bh--p-3 bh-texto-primario">ID</th>
        <th class="bh--p-3 bh-texto-primario">Nombre</th>
        <th class="bh--p-3 bh-texto-primario">Email</th>
        <th class="bh--p-3 bh-texto-primario">Rol</th>
        <th class="bh--p-3 bh-texto-primario">Acciones</th>
        <th class="bh--p-3 bh-texto-primario"></th>
        <th class="bh--p-3 bh-texto-primario"></th>
      </tr>
    </thead>
    <tbody>
      @for (u of usuarios; track u.id) {
      <tr class="usuarios-page__row bh-fondo-gris">
        <td class="bh--p-3 bh-texto-primario">{{ u.id }}</td>
        <td class="bh--p-3 bh-texto-primario">{{ u.nombre }}</td>
        <td class="bh--p-3 bh-texto-primario">{{ u.email }}</td>
        <td class="bh--p-3 bh-texto-primario">{{ u.rol }}</td>
        <td class="bh--p-3">
          <a [routerLink]="['/mod']" [queryParams]="{ tipo: 'usuario', id: u.id }"
            class="usuarios-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-azul-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Modificar</a>
        </td>
        <td class="bh--p-3">
          <a [routerLink]="['/eliminar']" [queryParams]="{ tipo: 'usuario', id: u.id }"
            class="usuarios-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-rojo-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Eliminar</a>
        </td>
        <td class="bh--p-3">
          <a [routerLink]="['/ver']" [queryParams]="{ tipo: 'usuario', id: u.id }"
            class="usuarios-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-verde-4 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Ver</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>