@if (isLoggedIn) {
<nav class="c-header">
  <h2 class="c-header__brand-name c-header__item--highlight" routerLink="/inicio">TheBarberHub</h2>

  <ul class="c-header__nav">
    <li class="c-header__item">
      <a class="c-header__link" routerLink="/usuarios">Usuarios</a>
    </li>

    <li class="c-header__item">
      <a class="c-header__link" routerLink="/categorias">Categorías</a>
    </li>

    <li class="c-header__item">
      <a class="c-header__link" routerLink="/peluquerias">Peluquerías</a>
    </li>

    <li class="c-header__item">
      <a class="c-header__link" routerLink="/productos">Productos</a>
    </li>


    <li class="c-header__item">
      <a class="c-header__link" routerLink="/cerrar-sesion">Cerrar Sesión</a>
    </li>
  </ul>
</nav>
}