<div class="bh-panel">
  <h2 class="bh-panel__title">{{ titulo }}</h2>
  @if(numero !== undefined) {
  <h1 class="bh-panel__number">{{ numero | number:'1.2-2' }}€</h1>
  }
  @if(info) {
  <p class="bh-panel__info">{{ info }}</p>
  }
  <div class="bh-panel__actions">
    @if(routerLinkVer) {
    <button class="bh-panel__button bh-panel__button--ver" [routerLink]="routerLinkVer">Ver</button>
    }
    @if(queryParamsAdd) {
    <button class="bh-panel__button bh-panel__button--add" [routerLink]="['/crear']" [queryParams]="queryParamsAdd">
      Añadir
    </button>
    }
  </div>
</div>