<div class="productos-page bh-p-6">
    <div class="productos-page__header bh-d-flex bh-justify-between bh-align-center bh-mb-6">
        <button class="productos-page__button bh-panel__button" [routerLink]="['/crear']"
            [queryParams]="{ tipo: 'producto' }">
            Crear Producto
        </button>
        <app-search (search)="onSearch($event)"></app-search>
    </div>

    <table class="productos-page__table bh-w-full bh-text-left">
        <thead>
            <tr>
                <th class="bh-p-3 bh-texto-primario">ID</th>
                <th class="bh-p-3 bh-texto-primario">Nombre</th>
                <th class="bh-p-3 bh-texto-primario">Peluquería</th>
                <th class="bh-p-3 bh-texto-primario">Precio</th>
                <th class="bh-p-3 bh-texto-primario">Duración</th>
                <th class="bh--p-3 bh-texto-primario">Acciones</th>
                <th class="bh--p-3 bh-texto-primario"></th>
                <th class="bh--p-3 bh-texto-primario"></th>
            </tr>
        </thead>
        @for(p of productos; track $index) {
        <tbody>
            <tr class="productos-page__row bh-fondo-gris">
                <td class="bh--p-3 bh-texto-primario">{{ p.id }}</td>
                <td class="bh--p-3 bh-texto-primario">{{ p.nombre }}</td>
                <td class="bh--p-3 bh-texto-primario">{{ p.peluqueria }}</td>
                <td class="bh--p-3 bh-texto-primario">{{ p.precio }}€</td>
                <td class="bh--p-3 bh-texto-primario">{{ p.duracion }} min</td>
                <td class="bh--p-3">
                    <a [routerLink]="['/mod']" [queryParams]="{ tipo: 'producto', id: p.id }"
                        class="productos-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-azul-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Modificar</a>
                </td>
                <td class="bh--p-3">
                    <a [routerLink]="['/eliminar']" [queryParams]="{ tipo: 'producto', id: p.id }"
                        class="productos-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-rojo-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Eliminar</a>
                </td>
                <td class="bh--p-3">
                    <a [routerLink]="['/ver']" [queryParams]="{ tipo: 'producto', id: p.id }"
                        class="productos-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-verde-4 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Ver</a>
                </td>
            </tr>
        </tbody>
        }
    </table>
</div>