<div class="categorias-page bh-p-6">
  <div class="categorias-page__header bh-d-flex bh-justify-between bh-align-center bh-mb-6">
    <button class="categorias-page__button bh-panel__button" [routerLink]="['/crear']"
      [queryParams]="{ tipo: 'categoria' }">
      Crear Categoría
    </button>
    <app-search (search)="onSearch($event)"></app-search>
  </div>

  <table class="categorias-page__table bh-w-full bh-text-left">
    <thead>
      <tr>
        <th class="bh--p-3 bh-texto-primario">ID</th>
        <th class="bh-p-3 bh-texto-primario">Nombre</th>
        <th class="bh-p-3 bh-texto-primario">Descripción</th>
        <th class="bh--p-3 bh-texto-primario">Acciones</th>
        <th class="bh--p-3 bh-texto-primario"></th>
        <th class="bh--p-3 bh-texto-primario"></th>
      </tr>
    </thead>
    <tbody>
      @for (c of categorias; track c.id) {
      <tr class="categorias-page__row bh-fondo-gris">
        <td class="bh--p-3 bh-texto-primario">{{ c.id }}</td>
        <td class="bh--p-3 bh-texto-primario">{{ c.nombre }}</td>
        <td class="bh--p-3 bh-texto-primario">{{ c.descripcion }}</td>
        <td class="bh--p-3">
          <a [routerLink]="['/mod']" [queryParams]="{ tipo: 'categoria', id: c.id }"
            class="categorias-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-azul-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Modificar</a>
        </td>
        <td class="bh--p-3">
          <a [routerLink]="['/eliminar']" [queryParams]="{ tipo: 'categoria', id: c.id }"
            class="categorias-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-rojo-5 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Eliminar</a>
        </td>
        <td class="bh--p-3">
          <a [routerLink]="['/ver']" [queryParams]="{ tipo: 'categoria', id: c.id }"
            class="categorias-page__link bh-cursor-pointer bh-texto-acento bh--color-fondo-verde-4 bh--p-2 bh--pl-7 bh--pr-7 bh--radio-3">Ver</a>
        </td>
      </tr>
      }
    </tbody>
  </table>
</div>